body
	{background-image: url(fon3.jpg);
		background-size: cover;}

.centr {font-family: Monotype Corsiva;
}
.headder {display:block; margin:0 auto;}
.maintpo {display:block; margin:0 auto;}
.firstblock {display:block; margin:0 auto;}
.secondblock {display:block; margin:0 auto;}
.naviki {display:block; margin:0 auto;}
h1 {font-size: 55px;
	text-shadow: 3px 5px 6px;}
h2 {font-size: 33px;}
.avatar {width: 150px;
height: 300px;
background:#390;
-webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;
}
.avatar:hover {
width: 200px;
height: 400px;}
